* {
    margin: 0;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    gap: 100px;

    background-image: url(../../assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 8px 16px;
    background-color: #9b9b9b4d;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 10px;

    img {
        width: 100px;
        height: 100px;
    }
}

.links {
    display: flex;
    gap: 60px;
    list-style: none;

    li {
        a {
            color: #000;
            text-decoration: none;
            font-size: 25px;
        }
    }
}

.application {
    display: flex;
    list-style: none;

    a {
        color: #2b2b2b;
        text-decoration: none;
        font-size: 20px;
    }
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h1 {
        font-size: 112px;
        text-align: center;
        color: #ffffff;
    }

    p {
        font-size: 24px;
        text-align: center;
        color: #ffffff;
    }
}

.social-container {
    padding: 20px;
    position: relative;
    display: inline-block;
}

.social-toggle {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.main-icon {
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.main-icon:hover {
    transform: scale(1.1);
}

.main-icon::before {
    content: "+";
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s;
}

.social-toggle:checked + .main-icon::before {
    content: "х";
    font-size: 24px;
}

.social-icons {
    position: absolute;
    bottom: 60px;
    left: 40px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
}

.social-toggle:checked ~ .social-icons {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.social-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.main-icon:hover {
    transform: scale(1.2);
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.74),
            rgba(255, 255, 255, 0.3)
        ),
        url(../../assets/images/background-catalog.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    h1 {
        font-size: 100px;
        color: #22754d;
    }
    p {
        font-size: 20px;
        color: #22754d;
    }
}

.your-class {
    figure {
        margin: 100px 200px;
        height: 800px;

        img {
            width: 100%;
            object-fit: cover;
        }

        img:hover {
            transform: translateY(-150px);
            transition: 0.3 ease;
        }
    }
}

.about {
    padding: 20px 40px;

    background-image: 
    linear-gradient(
            rgba(255, 255, 255, 0.74),
            rgba(255, 255, 255, 0.3)
        ),
    url('../../assets/images/backgraund-about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
        width: 850px;
        display: inline-block;
    }
}

.gallery {
    padding: 20px 40px;

    background-image: url(../../assets/images/background-gallery.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.wrapper  {
    align-items: center;
}




.contacts {
    padding: 20px 40px;
}